body {
  font-family: sans-serif;
  background-image: url('./img/hogwarts-bg.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: #fff;
}
.hogworts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}